:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-button: #188ce8;
  --primary-whait-color: #ffffff;
  --primary-black-color: #000000;
  --color-with-transparency: rgba(255, 255, 255, 0.6);
  --color-section-background: #2f303a;
  --color-section-bg: #f5f4fa;
  --color-liane-header: #ececec;
  --color-liane-card: #eeeeee;
  --color-icon: #afb1b8;
  --bg-element-specialty: rgba(47, 48, 58, 0.8);
  --bg-cardHover-portfolio: rgba(33, 150, 243, 0.9);
  --bg-modal: rgba(0, 0, 0, 0.2);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --bg-social-footer: rgba(255, 255, 255, 0.1);
  --color-icon-modal: rgba(0, 0, 0, 0.1);
  --color-border-subscription: rgba(255, 255, 255, 0.3);
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-texterea-placeholder: rgba(117, 117, 117, 0.5);
  --border-social: rgba(33, 33, 33, 0.2);
  --primary-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --primary-shadow-hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --card-shadov-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadov-btn-footer: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  outline: 0px;
}

.input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-whait-color);
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 10px 32px;
  border: 0;
  background-color: var(--primary-whait-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  outline: 0px;
}

.button--primary {
  background-color: var(--accent-color);
  color: var(--primary-whait-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary:hover, .button--primary:focus {
  background-color: var(--accent-color-button);
  color: var(--primary-whait-color);
}

.button--secondary {
  padding: 6px 22px;
  background-color: var(--color-section-bg);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover, .button--secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-whait-color);
  -webkit-box-shadow: var(--primary-shadow-hover);
          box-shadow: var(--primary-shadow-hover);
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--color-liane-header);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.page-header__button-open {
  margin-left: auto;
  padding: 0;
}

.page-header__button-open:hover, .page-header__button-open:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
  }
  .page-header__button-open, .page-header__menu {
    display: none;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-black-color);
}

.logo--blue {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 88px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact {
  margin-left: auto;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item + .contact__item {
  margin-top: 10px;
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon--mailto {
  width: 14px;
  height: 10px;
}

.contact__icon--tel {
  width: 10px;
  height: 14px;
}

.contact__icon:hover, .contact__icon:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
  .contact__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .contact__item + .contact__item {
    margin-top: 0;
    margin-left: 50px;
  }
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contact__icon--mailto {
    width: 16px;
    height: 12px;
  }
  .contact__icon--tel {
    width: 10px;
    height: 16px;
  }
  .contact__icon {
    margin-right: 10px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow-y: auto;
  background-color: var(--primary-whait-color);
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
}

.menu__button-close:hover, .menu__button-close:focus {
  fill: var(--accent-color);
}

.menu__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu-nav__item {
  margin-bottom: 32px;
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav__link--current {
  color: var(--accent-color);
}

.menu-contact__item + .menu-contact__item {
  margin-top: 32px;
}

.menu-contact__item--tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.menu-contact__item--mailto {
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.menu-social__item {
  padding: 0 10px;
  border-right: 1px solid var(--border-social);
}

.menu-social__item:last-child {
  padding-right: 0;
  border-right: none;
}

.menu-social__item:first-child {
  padding-left: 0;
}

.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-section-background);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/index-img/HeaderMob.jpg);
  background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../images/index-img/HeaderMob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/index-img/HeaderMob@2x.jpg);
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-whait-color);
}

.hero__button--primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--primary-shadow-hover);
          box-shadow: var(--primary-shadow-hover);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: url(../images/index-img/HeaderTab.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/index-img/HeaderTab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: url(../images/index-img/HeaderDesk.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/index-img/HeaderDesk@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.features__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.features__icon {
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-section-bg);
}

@media screen and (max-width: 1199px) {
  .specialty {
    display: none;
  }
}

.specialty__container {
  padding-top: 0;
  text-align: center;
}

.specialty__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialty__item + .specialty__item {
  margin-left: 30px;
}

.specialty__subtitle {
  position: absolute;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  min-width: 370px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-whait-color);
  background-color: var(--bg-element-specialty);
}

.team {
  background-color: var(--color-section-bg);
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team .team-card {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-whait-color);
  -webkit-box-shadow: var(--primary-card-shadow);
          box-shadow: var(--primary-card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team .team-card__img {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team .team-card__img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team .team-card__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team .team-card__img {
    width: 270px;
    height: 260px;
  }
}

.team .team-card__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team .team-card__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team .team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-icon);
}

.team .team-social__item {
  width: 44px;
  height: 44px;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-whait-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .team-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team .team-social__item + .team .team-social__item {
  margin-left: 10px;
}

.team .team-social__item:hover, .team .team-social__item:focus {
  background-color: var(--accent-color);
  color: var(--primary-whait-color);
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 92px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin: 0;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.footer {
  background-color: var(--color-section-background);
}

.footer__container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__link {
  color: var(--primary-whait-color);
}

.address {
  margin-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}

.address__adds {
  margin-bottom: 9px;
}

.address__webmail {
  margin-bottom: 9px;
}

.address__webmail, .address__phone {
  color: var(--color-with-transparency);
}

.address__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--primary-whait-color);
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-icon);
}

.footer-social__item {
  width: 44px;
  height: 44px;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--primary-whait-color);
  background-color: var(--bg-social-footer);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__item:hover, .footer-social__item:focus {
  background-color: var(--accent-color);
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .subscription {
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-right: 0;
  }
}

.subscription__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--primary-whait-color);
}

.subscription__input {
  width: 358px;
  padding: 15px 16px;
  background-color: inherit;
  color: var(--primary-whait-color);
  border: 1px solid var(--color-border-subscription);
  border-radius: 4px;
  -webkit-transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__input:hover, .subscription__input:focus {
  -webkit-filter: drop-shadow(var(--shadov-btn-footer));
          filter: drop-shadow(var(--shadov-btn-footer));
}

.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-with-transparency);
}

.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-with-transparency);
}

.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-with-transparency);
}

.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-with-transparency);
}

.subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button__subscription {
  width: 200px;
  padding: 10px 29px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  fill: currentColor;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .button__subscription {
    margin-left: 12px;
    margin-top: 0;
  }
}

.button__subscription__subscription:hover, .button__subscription__subscription:focus {
  -webkit-box-shadow: var(--shadov-btn-footer);
          box-shadow: var(--shadov-btn-footer);
}

.filtet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filtet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filtet {
    margin-bottom: 34px;
  }
}

.filtet__button {
  min-width: 73px;
}

.filtet__item {
  margin-left: 8px;
  margin-top: 15px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin-right: 0;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: var(--card-shadov-portfolio);
          box-shadow: var(--card-shadov-portfolio);
}

.portfolio-card__content {
  padding: 20px 24px;
  border-right: 1px solid var(--color-liane-card);
  border-bottom: 1px solid var(--color-liane-card);
  border-left: 1px solid var(--color-liane-card);
}

@media screen and (min-width: 480px) {
  .portfolio-card__img {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-card__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card__img {
    width: 370px;
  }
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card__title--first {
    margin-bottom: 40px;
  }
}

.portfolio-card__subtext {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .portfolio-card__overlay {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    background-color: var(--bg-cardHover-portfolio);
    overflow: auto;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 322px;
    height: 100%;
    padding: 63px 24px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-whait-color);
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-card:hover .portfolio-card__text,
  .portfolio-card:focus .portfolio-card__text {
    opacity: 1;
  }
  .portfolio-card:hover .portfolio-card__overlay,
  .portfolio-card-card:focus .portfolio-card__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal);
  opacity: 1;
  overflow-y: auto;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: relative;
  border-radius: 4px;
  background-color: var(--primary-whait-color);
  -webkit-box-shadow: var(--primary-card-shadow);
          box-shadow: var(--primary-card-shadow);
  overflow-y: auto;
  margin: 20px 15px;
  max-height: 609px;
}

@media screen and (min-width: 480px) {
  .modal {
    margin: 93px 15px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--primary-black-color);
  border: 1px solid var(--color-icon-modal);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.form {
  max-width: 448px;
  margin: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form__fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid var(--color-border-form);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__auxiliary {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__form--textarea {
  margin-bottom: 20px;
}

.form__input--textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form__input--textarea::-webkit-input-placeholder {
  color: var(--color-texterea-placeholder);
}

.form__input--textarea:-ms-input-placeholder {
  color: var(--color-texterea-placeholder);
}

.form__input--textarea::-ms-input-placeholder {
  color: var(--color-texterea-placeholder);
}

.form__input--textarea::placeholder {
  color: var(--color-texterea-placeholder);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__button {
  display: block;
  margin: auto;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.checkbox__label {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
    min-height: 24px;
  }
}

.checkbox__icon {
  width: 15px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--primary-whait-color);
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */