:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-button: #188ce8;
  --primary-whait-color: #ffffff;
  --primary-black-color: #000000;
  --color-with-transparency: rgba(255, 255, 255, 0.6);
  --color-section-background: #2f303a;
  --color-section-bg: #f5f4fa;
  --color-liane-header: #ececec;
  --color-liane-card: #eeeeee;
  --color-icon: #afb1b8;
  --bg-element-specialty: rgba(47, 48, 58, 0.8);
  --bg-cardHover-portfolio: rgba(33, 150, 243, 0.9);
  --bg-modal: rgba(0, 0, 0, 0.2);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --bg-social-footer: rgba(255, 255, 255, 0.1);
  --color-icon-modal: rgba(0, 0, 0, 0.1);
  --color-border-subscription: rgba(255, 255, 255, 0.3);
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-texterea-placeholder: rgba(117, 117, 117, 0.5);
  --primary-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --primary-shadow-hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --card-shadov-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadov-btn-footer: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  outline: 0px;
}

.input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-whait-color);
  color: var(--primary-text-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 10px 32px;
  border: 0;
  background-color: var(--primary-whait-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  outline: 0px;
}

.button--primary {
  background-color: var(--accent-color);
  color: var(--primary-whait-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary:hover, .button--primary:focus {
  background-color: var(--accent-color-button);
  color: var(--primary-whait-color);
}

.button--secondary {
  padding: 6px 22px;
  background-color: var(--color-section-bg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover, .button--secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-whait-color);
  box-shadow: var(--primary-shadow-hover);
}

.page-header {
  position: relative;
}

.page-header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.page-header__button-open {
  margin-left: auto;
  padding: 0;
}

.page-header__button-open:hover, .page-header__button-open:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid var(--color-liane-header);
    min-height: 80px;
  }
  .page-header__button-open, .page-header__menu {
    display: none;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-black-color);
}

.logo--blue {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
}

.site-nav {
  display: flex;
  margin-left: 88px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact {
  margin-left: 84px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item + .contact__item {
  margin-top: 10px;
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon--mailto {
  width: 14px;
  height: 10px;
}

.contact__icon--tel {
  width: 10px;
  height: 14px;
}

.contact__icon:hover, .contact__icon:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
  .contact__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
  }
  .contact__item + .contact__item {
    margin-top: 0;
    margin-left: 50px;
  }
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contact__icon--mailto {
    width: 16px;
    height: 12px;
  }
  .contact__icon--tel {
    width: 10px;
    height: 16px;
  }
  .contact__icon {
    margin-right: 10px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  padding: 48px 40px;
  margin: 0;
  background-color: var(--primary-whait-color);
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
}

.menu__button-close:hover, .menu__button-close:focus {
  fill: var(--accent-color);
}

.menu__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu-nav__item + .menu-nav__item {
  margin-top: 32px;
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav__link--current {
  color: var(--accent-color);
}

.menu-contact {
  margin-top: 302px;
}

.menu-contact__item + .menu-contact__item {
  margin-top: 32px;
}

.menu-contact__item--tel {
  font-size: 34px;
  line-height: 40px;
  color: var(--accent-color);
}

.menu-contact__item--mailto {
  font-size: 24px;
  line-height: 28px;
  color: var(--primary-text-color);
}

.menu-social {
  margin-top: 64px;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .specialty {
    display: none;
  }
}

.specialty__container {
  padding-top: 0;
  text-align: center;
}

.specialty__list {
  position: relative;
  display: flex;
}

.specialty__item + .specialty__item {
  margin-left: 30px;
}

.specialty__title {
  margin-bottom: 50px;
}

.specialty__subtitle {
  position: absolute;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  min-width: 370px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-whait-color);
  background-color: var(--bg-element-specialty);
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 92px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin: 0;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-whait-color);
  box-shadow: var(--primary-card-shadow);
  transition: transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-black-color);
  border: 1px solid var(--color-icon-modal);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.form {
  width: 448px;
  margin: 40px auto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form__fild {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid var(--color-border-form);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__auxiliary {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__form--textarea {
  margin-bottom: 20px;
}

.form__input--textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form__input--textarea::placeholder {
  color: var(--color-texterea-placeholder);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__button {
  display: block;
  margin: auto;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 24px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__icon {
  width: 15px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--primary-whait-color);
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */