.button {
  @include dis-al(inline-flex, center);
  @include font-weight(500, 16px, 1.62);
  padding: 10px 32px;
  border: 0;
  background-color: var(--primary-whait-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  outline: 0px;
  &--primary {
    background-color: var(--accent-color);
    color: var(--primary-whait-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--primary:hover,
  &--primary:focus {
    background-color: var(--accent-color-button);
    color: var(--primary-whait-color);
  }
  &--secondary {
    padding: 6px 22px;
    background-color: var(--color-section-bg);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--secondary:hover,
  &--secondary:focus {
    background-color: var(--accent-color);
    color: var(--primary-whait-color);

    box-shadow: var(--primary-shadow-hover);
  }
}
