.checkbox {
  &__label {
    display: inline-block;
    margin-bottom: 30px;
    @include font-letter(12px, 1.167, 0.03em);
    @media screen and (min-width: $mob) {
      @include dis-jc(flex, center, space-evenly);
      min-height: 15px;
    }
    @media screen and (min-width: $desk) {
      @include font-line(14px, 1.71);
      min-height: 24px;
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    fill: var(--primary-whait-color);
  }

  &__link {
    color: var(--accent-color);
  }
  &__input:checked + &__icon {
    background-color: var(--accent-color);
    border: none;
    border-radius: 2px;
  }
}
