.footer {
  background-color: var(--color-section-background);
  &__container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
      @include dis-al(flex, baseline);
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__link {
    color: var(--primary-whait-color);
  }
}
