.footer {
  background-color: var(--color-section-background);
  &__container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: $tab) {
      @include dis-jc(flex, baseline, space-around);
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desk) {
      text-align: left;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__link {
    color: var(--primary-whait-color);
  }
}
