.form {
  width: 448px;
  margin: 40px auto;
  @include font-letter(12px, 1.17, 0.01em);
  &__title {
    margin-bottom: 12px;
    @include font-line(20px, 1.15);
    text-align: center;
    color: var(--title-text-color);
  }
  &__fild {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__label {
    margin-bottom: 4px;
  }
  &__input {
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid var(--color-border-form);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:hover,
  &__input:focus {
    border: 1px solid var(--accent-color);
  }
}

.form {
  &__auxiliary {
    position: relative;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__form--textarea {
    margin-bottom: 20px;
  }
  &__input--textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;
  }
  &__input--textarea::placeholder {
    color: var(--color-texterea-placeholder);
  }
  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: var(--accent-color);
  }
  &__button {
    display: block;
    margin: auto;
    padding: 10px 55px;
    @include font-letter(16px, 1.87, 0.06em);
  }
}
