.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  background-color: var(--color-section-background);
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(../images/index-img/HeaderMob.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/index-img/HeaderMob@2x.jpg);
  }
  background-position: center;
  background-size: 480px 400px;

  &__container {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
  }
  &__title {
    margin-bottom: 30px;
    @include font(900, 26px, 1.62, 0.06em);
    text-transform: uppercase;
    color: var(--primary-whait-color);
  }
  &__button--primary {
    @include font(700, 16px, 1.87, 0.06em);
    align-items: center;
    box-shadow: var(--primary-shadow-hover);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: url(../images/index-img/HeaderTab.jpg);
    background-size: 768px 400px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/index-img/HeaderTab@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: url(../images/index-img/HeaderDesk.jpg);
    background-size: 1600px 600px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/index-img/HeaderDesk@2x.jpg);
    }
    &__container {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    &__title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
