.page-header {
  position: relative;
  border-bottom: 1px solid var(--color-liane-header);
  &__container {
    @include dis-al(flex, center);
    min-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
  &__button {
    margin-left: auto;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    min-height: 80px;
    &__button {
      display: none;
    }
  }
}
