.filtet {
  @include dis-al(flex, center);
  flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
  @media screen and (min-width: $tab) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desk) {
    margin-bottom: 34px;
  }
  &__button {
    min-width: 73px;
  }
  &__item {
    margin-left: 8px;
    margin-top: 15px;
  }
}
